% Licensed under the Apache License, Version 2.0 (the "License"); you may not
% use this file except in compliance with the License. You may obtain a copy of
% the License at
%
%   http://www.apache.org/licenses/LICENSE-2.0
%
% Unless required by applicable law or agreed to in writing, software
% distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
% WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
% License for the specific language governing permissions and limitations under
% the License.

{sys, [
    {lib_dirs, ["../apps", "../deps"]},
    {rel, "{{appid}}", "0.1", [
        kernel,
        stdlib,
        sasl,
        crypto,
        ssl,
        inets,
        xmerl,
        runtime_tools,
        mochiweb,
        ibrowse,
        oauth,
        couch,
        geocouch,
        {{appid}} 
    ]},
    {rel, "start_clean", "", [kernel, stdlib]},
    {boot_rel, "{{appid}}"},
    {profile, embedded},
    {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
    {excl_archive_filters, [".*"]},

    {app, {{appid}}, [{incl_cond, include}]}
]}.

{overlay_vars, "{{appid}}.config"}.
{overlay, [
    {mkdir, "var/log"},
    {mkdir, "var/run"},
    {copy, "overlay/bin"},
    {copy, "overlay/etc"},
    {copy, "../deps/couch/share"},
    {copy, "../deps/couchjs/couchjs", "bin/couchjs"},
    {copy, "../deps/couchjs/main.js", "share/couchjs/main.js"},
    {copy, "../deps/couchjs/main-coffee.js", "share/couchjs/main-coffee.js"},
    {copy, "../deps/geocouch/share/www/script/test/*.*", "share/www/script/test/"},
    {template, "overlay/etc/{{appid}}/default.ini", "etc/{{appid}}/default.ini"},
    {template, "overlay/bin/{{appid}}", "bin/{{appid}}"},
    {template, "overlay/etc/{{appid}}/vm.args", "etc/{{appid}}/vm.args"},
    {template, "overlay/etc/logrotate.d/{{appid}}", "etc/logrotate.d/{{appid}}"}, 
    {template, "overlay/etc/default/{{appid}}", "etc/default/{{appid}}"},
    {template, "overlay/etc/rc.d/{{appid}}", "etc/rc.d/{{appid}}"}
]}.
